.toppage.jumbotron
  .container
    %p<
      Tsubuyaki(つぶやき)にようこそ！
    .login
      = link_to "ログイン", new_user_session_path, { class: "btn btn-info" }
    .signin
      = link_to "サインイン", new_user_registration_path, { class: "btn btn-default" }
