.search.container
  .row
    .col-xs-3
    .tweets.col-xs-9.list-group3
      .textarea.list-group-item
        = @text + " の検索結果"
      = render 'tweets', tweets: Tweet.where('content LIKE ?', "%#{@text}%" )
