body {
  background-color: #F5F8FA;
}

header {
  background-color: white;
  height: 60px;

  nav {
    span.alert {
      position: absolute;
    }
    span.alert.signedin {
      top: 5px;
      left: 430px;
    }
    span.alert.signedout {
      top: 5px;
      left: 70px;
    }
    span.alert.dispnone {
      display: none;
    }
    a.btn-home {
      margin: 10px 0px 10px 10px;
    }
    a.btn-message {
      margin: 10px 10px 10px 0px;
    }
    form.search-form {
      display: inline;
      margin-left: 320px;
    }
    input.search-text {
      width: 300px;
    }
  }
}

div.toppage {
  height: 300px;
  div.login {
    padding-bottom: 10px;
  }
  div.login a, div.signin a {
    width: 300px;
  }
}

div.username a {
  color: black;
}
div.no_user, div.no_tweet {
  height: 200px;
}
textarea {
  resize: none;
}
div.container, nav {
  max-width: none !important;
  width: 1280px;
}

div.user, div.follow_user {
  img {
    position: absolute;
    top: 70px;
    left: 30px;
    width: 63px;
    height: 63px;
  }
  div.panel-heading {
    background-color: #0083B4;
    height: 90px;
  }
}

div.timeline, div.users_show, div.search {
  div.tweets {
    div.detail {
      div.retweet_msg {
        color: gray;
        padding-left: 50px;
      }
      img {
        width: 40px;
        height: 40px;
      }
      div.content {
        display: inline-block;
        word-break: break-all;
        padding-left: 10px;
        width: 800px;
        div.username {
          font-weight: bold;
        }
      }
    }
  }
}

div.timeline, div.users_show, div.edit_profile, div.search {
  padding-top: 15px;
}
