div.dm {
  padding-top: 10px;
  div.titlearea {
    height: 50px;
    div.dmtitle {
      font-size: 20px;
    }
    div.dmnew {
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  div.detail {
    overflow-y: auto;
    height: 380px;
    div.username {
      font-weight: bold;
    }
    div.content {
      word-break: break-all;
      padding-left: 10px;
    }
  }
  input.message {
    width: 500px;
  }
}
