div.timeline {
  padding-top: 15px;

  div.profile {
    div.user {
      position: static;
      div.username {
        position: absolute;
        top: 105px;
        left: 105px;
        font-weight: bold;
        font-size: 16px;
      }
      div.tweets_count, div.following_count, div.follower_count {
        a {
          font-size: 18px;
        }
      }
      div.panel-heading {
        background-color: #0084B4;
        height: 100px;
      }
      div.panel-body {
        div.row {
          padding-top: 30px;
        }
      }
    }
  }

  div.tweets {
    div.tweetarea {
      background-color: #E5F2F7;
      text-align: right;
      textarea.tweet {
        width: 100%;
      }
      span.typed_count {
        margin-right: 10px;
        display: none;
      }
      span.typed_count.tweet_alert {
        color: red;
      }
      input.tweetbtn {
        display: none;
      }
    }
  }
}
