div.users_show {
  div.tweets {
    a.edit_profile {
      position: absolute;
      top: 0px;
      left: 770px;
    }
  }

  div.users_followings, div.users_followers {
    div.follow_user {
      div.panel {
        margin: 5px;
        width: 290px;
        height: 260px;
        border-radius: 5px;
        background-color: white;
      }
      div.username {
        position: absolute;
        top: 140px;
        left: 30px;
        font-weight: bold;
        font-size: 16px;
      }
      div.introduction {
        position: absolute;
        width: 270px;
        top: 170px;
        left: 30px;
        font-size: 16px;
        word-break: break-all;
      }
      a.followbtn {
        position: absolute;
        top: 100px;
        left: 200px;
        font-weight: bold;
      }
    }
  }

  div.profile {
    * {
      padding-bottom: 5px;
    }
    img {
      top: 0;
      width: 200px;
    }
    div.username {
      font-weight: bold;
      font-size: 16px;
    }
    div.introduction {
      word-break: break-all;
      width: 250px;
      font-size: 16px;
    }
    a.followbtn {
      width: 200px;
    }
  }
}
