- if user_signed_in? and current_user.own?(tweet)
  = link_to '削除', [current_user, tweet], 
    { method: :delete, class: "deletebtn btn btn-primary btn-sm", data: { confirm: "本当に削除してもよろしいですか？" }, remote: true}
