- if current_user.retweeting?(tweet)
  = link_to 'リツイート', unretweet_user_tweet_path(current_user, tweet), 
    { method: :post, class: "retweetbtn btn btn-info btn-sm" }
- else
  = link_to 'リツイート', retweet_user_tweet_path(current_user, tweet), 
    { method: :post, class: "retweetbtn btn btn-default btn-sm #{current_user.own?(tweet) ? 'disabled' : ''}" }
